body {
    background-color: #eee;
}
#click {
    text-align: center;
    color: red;
    margin-top: 100px;
}

#dialog {
    color: red;
    height: 400px;
    width: 400px;
    background-color: #777;
    border:5px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    left:50%;
    margin:-100px 0 0 -200px;
    display: none;
}

#close {
    padding-left:15px;
}